[Unit]
Description=Run the ProbeBot Telegram Bot
After=syslog.target network.target
StartLimitIntervalSec=60
StartLimitBurst=7

[Service]
ExecStart=/usr/local/lib/probebot/probebotsrv.sh
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
